nav{
  display: flex; flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem 0 2rem;
  height: 3.5rem;
}
    .nav-me{
      display: flex; flex-direction: row;
      height:75%
    }
          .nav-me div{
            display: flex; flex-direction: column;
            justify-content: space-evenly;
            align-items: left;
            padding: 0 0 0 0.8rem;
          }
          .nav-me div h6{
            font-size: 0.85rem;
            white-space: nowrap;
          }

    .nav-fa{
      display: none;
    }

    .nav-buttons{
      display: flex; flex-direction: row;
      justify-content:space-between;
      align-items: center;
      background-color: white;
      border-radius: 2rem;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      width: 26rem;
    }
        .nav-buttons a{
          padding: 0.75rem 1rem 0.75rem 1rem;
          text-decoration: none;
          border-width: 0.1rem;
          border-radius: 2rem;
          transition: 0.3s;
        }

        .nav-buttons a:hover{
          background-color: var(--boootpurple);
          border-width: 0.1rem;
          border-radius: 2rem;
        }

        .nav-buttons a h6{
          color: var(--boootpurple);
          font-weight: 700;
          font-size: 0.85rem;
        }

        .nav-buttons a h6:hover{
          color: var(--boootwhite)
        }

    .nav-sm_link{
      display: flex; flex-direction: row;
      height: 75%;
    }
        .nav-sm_link a{
          padding: 0 0.5em 0 0.5rem;
          display: flex;
        }


@media only screen and (max-width:999px) {
.nav-fa-arrow{
  display: none;
}

  nav{
    justify-content: space-between;
    padding: 1rem 2rem 0 2rem;
    height:2.8rem;
  }
      .nav-me div{
        display: none;
      }

  .nav-fa{
    display:block;
    position: relative;
    font-size: 1.8rem;
    color: var(--boootpurple);
    transition: 0.3s;
  }
      .nav-fa:hover{
        color: var(--boootpink);
      }

  .nav-buttons{
    display: none;
  }
  .nav-sm_link{
    display: none;
  }
}

footer{
  padding: 3% 10% 3% 10%;
  background-color: var(--boootpurple);
  display: flex; flex-direction: row;
  justify-content: space-between;
}
    .nav-footer-sm_vp-{
      display: none;
    }

    footer div {
      display: flex; flex-direction: row;
      justify-content: space-between;
      width: 35%;
    }

       footer div img {
        width: 6rem;
       }

       footer div a {
        color: var(--boootwhite);
        transition: 0.3s;
       }

       footer div a:hover{
        background-color: var(--boootpink);
       }
    
    footer h6 {
      color: var(--boootwhite);
    }

@media only screen and (max-width:1111px) {
  footer {
    flex-direction: column;
    justify-content: space-around; align-items: center;
    height: 6.5rem;
    width: auto;
  }
      footer h6 {
        font-size: 0.7rem;
      }
      footer div{
        display: none;
      }

      .nav-footer-sm_vp-{
        display:flex; flex-direction: row;
        width: 50vw;
      }

      .nav-footer-sm_vp- a{
        display: flex;
        justify-content: center; align-items: center;
      }

      .nav-footer-sm_vp- a img {
        width:38%;
      }

      footer div a:hover{
        background-color: transparent;
      }
}

@media only screen and (max-width:750px) {
  .nav-footer-sm_vp- a img {
    width: 55%;
  }

  footer {
    height: 8rem;
  }
}
